@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #212121;
  --first: #0D7377;
  --second: #F8F3D4;
  --third: #f62a2a;
}

body {
  color: var(--second);
  background-color: var(--bg);
}

a:hover {
  color: var(--third);
  transition: 450ms;
}
